<app-header-register></app-header-register>
<main>
    <div class="container">
        <p class="step">STEP <label>1</label> OF <label >3</label></p>
        <p class="title">Create a password to start your membership</p>
        <p class="description">Just a few more steps and you're done!</p>
        <p class="description">We hate paperwork, too.</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email" formControlName="email">
            <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
                <p class="error" *ngIf="email?.errors?.['required']">Email is required!</p>
                <p class="error" *ngIf="email?.errors?.['hasEmail']">This email already exists, please change another one!</p>
                <p class="error" *ngIf="email?.errors?.['email']">Invalid email!</p>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Add a password" formControlName="password">
            </div>
            <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
                <p class="error">Your password must contain between 4 and 20 characters!</p>
            </div>

            <button [disabled]="!form.valid"
                >Next</button>
        </form>
    </div>
</main>
