<body>
  <!-- <div class="logo">
    <h1>NETFLIX</h1>
  </div> -->
  <div class="main-container">
    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p class="title">Sign in</p>
        <input type="text" placeholder="Email" formControlName="email" />
        <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
          <p class="error">Please enter a valid email</p>
        </div>

        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
          <p class="error">
            Your password must contain between 4 and 20 characters.
          </p>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">sign in</button>
        <div class="remember-help-container">
          <div class="remember">
            <input
              type="checkbox"
              name="remember-me"
              value="remember me"
              checked
              id="checkbox"
            />
            <p>Remember Me</p>
          </div>
          <a id="help">Need help?</a>
        </div>

        <p class="signup">New to Netflix? <a id="signup" [routerLink]="['/register']">Sign up now</a></p>
      </form>
    </div>
  </div>
</body>
