.btn_list{
    display: flex;
  }
  
  .btn_trailer {
    background-color: rgb(31, 88, 255);
    border: none;
    height: 4rem;
    width: 10rem;
    border-radius: 10px;
    margin-left: 2.5rem;
    padding-top: 0.1rem;
  }
  
  .btn_play {
    border: none;
    height: 4rem;
    width: 10rem;
    background-color: rgb(79, 81, 87);
    color: rgb(215, 218, 226);
    border-radius: 10px;
    margin-right: 3px;
    padding-left: 25px;
  }
  
  .btn_play_wrap{
    display: flex;
    // color:rgb(175, 178, 188);;
    align-items:center;
    margin: auto auto;
  }
  
  .btn-back {
    margin: 1rem;
    opacity: 0.5;
  }
  
  .back-mat-icon {
    color: white;
    font-weight: bolder;
  }
  
  .spinner_container {
    height: 100vw;
    background-color: black;
  }
  
  mat-spinner {
    margin: auto auto;
    position: relative;
    top: 10rem;
  }
  
  .host {
    font-family: sans-serif;
    position: relative;
    min-height: max-content;
    min-width: max-content;
    height: 100%;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    background-size: auto;
  }
  
  .container {
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .play {
    color: rgb(175, 178, 188);
    margin-right: 3px;
  }
  
  .movie_info {
    height: 50%;
    width: 50%;
    margin: 3% 0 3% 3%;
    padding: 3% 0 3% 3%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .movie_info p {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .homepage {
    font-size: 1.2rem;
  }
  
  .description {
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
  }
  
  .list {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
  }
  
  .poster_item {
    height: 10rem;
    width: 15rem;
    padding: 0.5rem;
    flex-shrink: 0;
  }
  
  .poster_item img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  
  .actor_item {
    height: 9.5rem;
    width: 5rem;
    padding: 0.5rem;
    margin-right: 1rem;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .actor_item img {
    height: 8rem;
    width: 5rem;
    border-radius: 10%;
  }
  
  .movie_info h1 {
    padding: 0.5rem;
    margin: 1rem auto;
    position: relative;
    top: 20%;
  }
  
  .movie_name {
    color: white;
    font-size: 3rem;
    font-weight: 900;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 3rem;
  }