<body>
  <section class="search-bar">
    <div class="panel">
      <div class="description">
        <p class="large">Unlimited movies, TV shows, and more.</p>
        <p class="small">Watch anywhere. Cancel anytime.</p>
        <p class="small">
          Ready to watch? Enter your email to create or restart your membership.
        </p>
      </div>
      <div class="email">
        <form #form="ngForm">
          <input
            [(ngModel)]="email"
            name="email"
            #emailInput="ngModel"
            type="text"
            placeholder="Email address"
            required
            email
          />
          <!-- Display error message if email is not valid -->
          <div
            *ngIf="
              emailInput.invalid && (emailInput.dirty || emailInput.touched)
            "
            class="text-danger"
          >
            <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
            <div *ngIf="emailInput.errors?.['email']">Invalid email format.</div>
          </div>
        </form>
        <button (click)="NagivateToSignup()">Get Started ></button>
      </div>
    </div>
  </section>

  <main>
    <div class="first">
      <div class="para-container">
        <p class="large">Enjoy on your TV.</p>
        <p class="small">
          Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
          players, and more.
        </p>
      </div>
      <div class="img-container">
        <img
          src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"
          alt=""
          srcset=""
          class="first-pic"
        />

        <video
          class="first-gif"
          autoplay
          loop
          muted
          preload
          playsinline
          src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
        ></video>
      </div>
    </div>

    <div class="second">
      <div class="img-container">
        <img
          src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
          alt=""
          srcset=""
          class="second-pic"
        />
        <div class="gif-container2">
          <img
            src="https://i.pinimg.com/originals/82/b7/28/82b728f52b7662f1525f6007421b45c4.gif"
            alt=""
            srcset=""
            class="second-gif"
          />
          <P>
            Stranger Things
            <br />
            <span style="color: rgb(20, 102, 217)"> Downloading.. </span>
          </P>
          <img
            src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif"
            alt=""
            srcset=""
            class="download-gif"
          />
        </div>
      </div>
      <div class="para-container">
        <p class="large">Download your shows to watch offline.</p>
        <p class="small">
          Save your favorites easily and always have something to watch.
        </p>
      </div>
    </div>

    <div class="third">
      <div class="para-container">
        <p class="large">Watch everywhere.</p>
        <p class="small">
          Stream unlimited movies and TV shows on your phone, tablet, laptop,
          and TV without paying more.
        </p>
      </div>
      <div class="img-container">
        <img
          src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png"
          alt=""
          srcset=""
          class="third-pic"
        />
        <video
          class="third-gif"
          autoplay
          loop
          muted
          preload
          playsinline
          src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v"
        ></video>
      </div>
    </div>

    <div class="forth">
      <div class="img-container">
        <img
          src="https://occ-0-999-444.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABfpnX3dbgjZ-Je8Ax3xn0kXehZm_5L6-xe6YSTq_ucht9TI5jwDMqusWZKNYT8DfGudD0_wWVVTFLiN2_kaQJumz2iivUWbIbAtF.png?r=11f"
          alt=""
          srcset=""
          class="forth-pic"
        />
      </div>
      <div class="para-container">
        <p class="large">Create profiles for kids.</p>
        <p class="small">
          Send kids on adventures with their favorite characters in a space made
          just for them—free with your membership.
        </p>
      </div>
    </div>
  </main>

  <section class="frequently-section">
    <div class="section-title">
      <h1>Frequently Asked Questions</h1>
    </div>
    <div class="drop-down">
      <div class="detail-container">
        <details>
          <summary style="list-style: none">
            <span>What is Netflix</span><span>+</span>
          </summary>
          <p>
            Netflix is a streaming service that offers a wide variety of
            award-winning TV shows, movies, anime, documentaries, and more on
            thousands of internet-connected devices. You can watch as much as
            you want, whenever you want without a single commercial – all for
            one low monthly price. There's always something new to discover and
            new TV shows and movies are added every week!
          </p>
        </details>
      </div>
      <div class="detail-container">
        <details>
          <summary style="list-style: none">
            <span>How much does Netflix cost?</span><span>+</span>
          </summary>
          <p>
            Watch Netflix on your smartphone, tablet, Smart TV, laptop, or
            streaming device, all for one fixed monthly fee. Plans range from
            $9.99 to $19.99 a month. No extra costs, no contracts.
          </p>
        </details>
      </div>
    </div>
  </section>

  <section class="last-section">
    <P
      >Ready to watch? Enter your email to create or restart your membership.</P
    >
    <div class="email">
      <input type="text" placeholder="Email address" />
      <button>Get Started ></button>
    </div>
  </section>
</body>
